@import "../style/mixins.scss";
.cart {
  position: absolute;
  right: 2px;
  top: 80px;
  z-index: 999;
  background-color: white;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  .warning {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-family: sans-serif;
    color: darkgray;
    margin: 17px 0px;
  }
  h1 {
    margin-bottom: 30px;
    color: rgb(83, 83, 83);
    font-weight: 400;
    font-size: 24px;
  }
  .heading {
    position: relative;
    .close {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;
      display: block;
    }
    @include md {
      .close {
        display: none;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    position: relative;
    img {
      width: 80px;
      height: 100px;
      object-fit: cover;
    }

    .details {
      h1 {
        font-size: 15px;
        font-weight: 500;
      }
      @include md {
        h1 {
          font-size: 18px;
          font-weight: 500;
        }
      }
      p {
        color: gray;
        margin-bottom: 10px;
        font-size: 12px;
      }
      @include md {
        p {
          font-size: 14px;
        }
      }

      .price {
        color: #000000;
      }
    }

    .delete {
      color: red;
      font-size: 50px;
      cursor: pointer;
    }
    @include md {
      .delete {
        font-size: 23px;
      }
    }
    @include md {
      .details {
        width: 300px;
      }
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }

  button {
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: none;
    background-color: #000000;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .reset {
    color: red;
    font-size: 12px;
    cursor: pointer;
  }
}
@include md {
  .cart {
    right: 20px;
  }
}
