@import "../style/mixins.scss";

.navbar {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 10px;
  background: #fff;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      font-size: 16px;
    }
    .left {
      display: flex;
      align-items: center;
      gap: 22px;
      .flag {
        height: 30px;
        margin: 0px 2px;
      }
    }
    .center {
      font-size: 30px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 22px;

      .icons {
        display: flex;
        align-items: center;
        gap: 15px;
        color: #777;
        cursor: pointer;
        font-size: 18px;
        .cartIcon {
          position: relative;
          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #2879fe;
            color: #fff;
            position: absolute;
            right: -12px;
            top: -9px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
